<!DOCTYPE html>
<html>
<head>
  <title>Eelphoenixaz</title>
  <meta name="google-site-verification" content="NgBMbtEiV1K677Gsu7nztcqYx6C5W3r29WQJV0JOmdE" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
